@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "CWC", system-ui, sans-serif;
  }
}

@font-face {
  font-family: "CWC";
  src: url("/fonts/CWC-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "CWC";
  src: url("/fonts/CWC-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "CWC";
  src: url("/fonts/CWC-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "CWC";
  src: url("/fonts/CWC-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "CWC";
  src: url("/fonts/CWC-BoldItalic.woff2") format("woff2");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "CWC-India";
  src: url("/fonts/CWC-INDIA.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* used on team selection ordering */
.react-aria-DropIndicator {
  &[data-drop-target] {
    outline: 1px solid var(--pink);
  }

  @supports not selector(:has(.foo)) {
    /* Undo gap in browsers that don't support :has */
    margin-bottom: -2px;
  }
}
